<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd
		">  
	<!-- Action -->
	<bean id="storeOperAction" class="cn.itcast.invoice.invoice.storeoper.web.StoreOperAction" scope="prototype">
		<property name="storeOperEbi" ref="storeOperEbi"/>
	</bean>
	<!-- Ebi -->
	<bean id="storeOperEbi" class="cn.itcast.invoice.invoice.storeoper.business.ebo.StoreOperEbo">
		<property name="storeOperDao" ref="storeOperDao"/>
	</bean>
	<!-- Dao -->
	<bean id="storeOperDao" class="cn.itcast.invoice.invoice.storeoper.dao.impl.StoreOperDaoImpl">
		<property name="sessionFactory" ref="sessionFactory"/>
	</bean>
</beans>
